
:root {
    --mainColor: #A17DE6;
    --secondColor: #4A4453;
    --thirdColor: #AFA8BA;
}





body{
    color: #FCF8FF;
    margin: 0%;
}



header {
    height: 100vh;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: row;
}

header img {
    overflow: hidden;
}
/* .headBox {
    aspect-ratio: 1/1;
} */

#singerName{
    display: flex;
    justify-content: center;
    align-items: center;
}

header span {
    font-size: 8em;
    font-weight: bolder;

}

/* .headBox 
    overflow: hidden;
    scrollbar-
}{ */



*{
    box-sizing: border-box;
}




section {
    background-color: var(--secondColor);
    position: relative;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-direction: row; */
    padding: 6em 3em;
    align-items: center;


}
.secBox{
    background-color: #B7A2D7;
    width: calc(80%/3);
    height: 50vh;
    color: #2D6677;
    font-size: large;
    padding: 1em;
    border-radius: .3em;
    box-shadow: 15px 14px 1px 4px #2e2e2c;
    box-sizing: border-box;
}
section ol {
    padding: 1em;
    margin: 1em;
}


#songslist {
    height: fit-content;
    
}

/* .secBox2 {
    height: 15px;
} */



footer{
    background-color: #4A4453;

}
